<div class="soundboard-grid">
  <button class="soundboard-btn" (click)="playSound('music')">
    <span class="material-icons">music_note</span>
  </button>
  <button class="soundboard-btn" (click)="playSound('nostalgia')">
    <span class="material-icons">computer</span>
  </button>
  <button class="soundboard-btn" (click)="playSound('anime')">
    <span class="material-icons">auto_awesome</span>
  </button>
  <button class="soundboard-btn danger" (click)="playSound('do_not_push')">
    <span class="material-icons">warning</span>
  </button>
</div> 